.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(185, 116, 25);
    color: white;
    text-align: center;
  }

  h2 {
    text-align: center;
    color: rgb(236, 88, 19);
  }

  .text 
  {
     color: rgb(216, 62, 177);
     text-align: center;
  }

  .card-body
  {
    background-color: burlywood;
  }

  